:root {
  --main-bg-color: #322b33;
  --alt-bg-color: #272227;
  --acc-color: rgb(251, 251, 252);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  color: var(--acc-color);
  background-color: var(--main-bg-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > * {
  padding: 20px;
}

body > .aboutHeader {
  display: flex;
  justify-content: space-between;
}

.pageHeading {
  font-size: 1.8rem;
  opacity: 25%;
}

.navBtn {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 1000;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
  background-size: 100%;
}

/* change ham image to close */
.showClose {
  background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  transform: translateY(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.5s ease;
}

.showNav {
  /* show the menu */
  transform: translateY(0);
}

/* basic nav styling below */

.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li a {
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  border-bottom: 2px solid white;
}

body > .aboutMain {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body > .aboutMain > .aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > .aboutMain > .aboutSection > * {
  text-align: center;
}
body > .aboutMain > .aboutSection > .aboutHeading {
  font-size: 5rem;
}
body > .aboutMain > .aboutSection > .aboutPara {
  font-size: 2rem;
  padding-top: 0;
  padding-bottom: 100px;
}
.projectBtn {
  border: none;
  background-color: var(--acc-color);
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid var(--main-bg-color);
}

.projectBtn {
  transition-duration: 0.4s;
}

.projectBtn:hover {
  background-color: var(--main-bg-color);
  color: var(--acc-color);
  border: 2px solid var(--acc-color);
  cursor: pointer;
}

.aboutFooter {
  font-size: 1.1rem;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--alt-bg-color);
}
.footerItem {
  flex: 1;
  text-align: center;
}
svg {
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.projectPara {
  font-size: 2rem;
}

.projectSection {
  width: 50%;
  display: flex;
  flex: 1;
}

.projectColumn {
  padding: 10px;

  flex: 1;
  display: flex;
  flex-direction: column;
}

.projectItem {
  flex: 1;
  border: 2px solid var(--alt-bg-color);
  margin: 10px 0px 10px 0px;
}
