.navbar-logo {
  color: aliceblue;
  height: 50px;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.navbar {
  background: linear-gradient(0deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 100vh;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin: 0;
}

.internal {
  height: 500px;
}

.external {
  height: 200px;
}
.nav-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nav-item a {
  margin-bottom: 15px;
  display: block;
  position: relative;
  text-decoration: none;
  color: aliceblue;
}
.nav-item .active {
  color: darkorchid;
}
.internal .nav-item a {
  font-size: 1.8rem;
}
.external .nav-item a {
  font-size: 1.2rem;
}

.nav-item a:hover {
  transition: all 0.3s ease-out 0s;
  color: darkorchid;
}

/* Tooltip text */
.item-caption {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: aliceblue;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: "Archivo Narrow", sans-serif;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 30%;
  left: 210%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.item-caption::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.nav-item:hover .item-caption {
  visibility: visible;
  opacity: 1;
}
