* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
html {
  background: linear-gradient(0deg, rgb(36, 33, 33) 0%, rgb(32, 29, 29) 100%);
  overflow: hidden;
}
